NODE_ENV=development
PORT=3000

DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=greener
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

JWT_SECRET=development_secret
CORS_ORIGIN=http://localhost:5173

METRICS_API_URL=https://metrics.unilaunch.org
CARBON_API_URL = https://carbon.unilaunch.org
